#ameliore {
    width: 380px; 
    height: 150px; 
}

/* On stylise le bloc qui contient tout le formulaire */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(159, 152, 152);
}

/* On stylise les zones de texte */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
